.done {
    display: none;
    position: fixed;
    top: calc(50% - 25px);
    left: 0;
    right: 0;
    z-index: 50;
    background: #6cb667;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
}

.done p {
    margin: auto;
    text-align: center;
    font-size: 30px;
}